body#LoginForm{
    background-image:url("https://i.pinimg.com/originals/1f/c6/9e/1fc69e636890b7c01da0719a18795ae3.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:10px;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#FF5964;
    color:#fff;
}
a{
    color:#fff;
}