<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<body id="LoginForm">
<div class="simple-login-container">
    <h2>Login Form</h2>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Username" 
            id="inputID" [(ngModel)]="UID" name="UID">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Enter your Password" class="form-control" 
            id="inputPass" [(ngModel)]="pwd" name="pwd">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
                <button  class="btn btn-block btn-login" onclick="checkLogin()">Login</button>
        </div>
    </div>
    <div style="text-align:center" class="row">
        <div class="col-md-12">
            <a href="/">Don't wanna log in?</a>
        </div>
    </div>
</div>
</body>