body#AccPage{
    background-image:url("https://i.pinimg.com/originals/1f/c6/9e/1fc69e636890b7c01da0719a18795ae3.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding:10px;
    color:#fff
    
}