<body id="AccPage">
<div> <!--style="text-align:center">-->
<h1>
    Accounts Page
</h1>
<nav>
    <ul class="nav navbar-nav"><img width="250" alt="GoogleDoggo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDVQsMtPh2VicuzciRqUCtiBSW9SUSfRLjI4F7-rYIp8r_4cR_ng">
        <li> <a class="nav">User Name</a></li>
        <li> <a class="nav">Email</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a class="nav-link" routerLink="/login">Log out</a></li>
    </ul>
</nav>
</div>
<router-outlet></router-outlet>
</body>